# First, declare binary files as binary (will prevent any modification)
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary

# Auto detect text files and perform LF normalization
* eol=lf